{% extends 'frame.html' %}

{% block title %}Import{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 style="color: #dc3545">Import puzzle with url</h1>
        <p class="fs-6 fw-light" style="color: #dc3545">*It's BETA version we support only the Jumbo official website.</p>
        <p>Steps:</p>
        <li style="list-style-type: none">1. Get url: e.g:</li>
        <li style="list-style-type: none"> https://www.jumbo.eu/en/products/falcon-the-vegetable-garden-1000-pieces/</li>
        <li style="list-style-type: none">2.Past in  field and click Save</li>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                {% for i in forms %}
                    <p> {{ i }}</p>
                {% endfor %}
                <input class="btn btn-danger" type="submit" value="Save">
            </div>
        </form>
        {% if forms.errors %}
           {% for field in forms %}
              {% for error in field.errors %}
                  {{ error|escape }}
              {% endfor %}
           {% endfor %}
        {% endif %}
    </div>
  </div>
</div>

{% endblock %}